body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.subscribe-button{
  border: none;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

.is-subscribed {
  background-color: rgb(240, 240, 240);
  color: black;
}
.error{
  color: red;
  font-weight: bold;
}

.cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-button {
  border: none;
  background-color: green;
  color: white;
  padding: 12px 15px;
  font-size: 15px;
  cursor: pointer;
}


